.svg-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.svg {
    width: 900px;
    height: 800px;
}

.marks .sphere {
    cursor: pointer;
    fill: #51a7f4;
    position: fixed !important;
    left: 0px !important;
    margin-left: 0px !important;
}

.marks .graticule {
    cursor: pointer;
    fill: none;
    stroke: #C0C0BB;
}

.marks .feature {
    cursor: pointer;
    fill: #0b7220;
    stroke: #C0C0BB;
}

.marks .interiors {
     cursor: pointer;
    fill: none;
    stroke: #064c0c;
}

.zoom-buttons{
    cursor: pointer;
    padding: 20px;
    font-size: 40px;
    background-color: #51a7f4;
    color: white;
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    border: none;
}

.zoom-buttons:hover{
    background-color: #217ccb;
}
.resize-button-container{
    margin-left: 10px;
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}